@import '../../responsive.scss';

.layout {
    height: 100vh;
    max-width: 1366px;
    margin: 0 auto;
    padding: 0 20px;


    @include sm {}

    @include md {}

    @include lg {}
}

.content {
    flex: 1;
    height: calc(100vh - 100px);
}