@import '../../responsive.scss';


.form-wrapper {
    height: 100vh;
    display: flex;

    @include sm {
        overflow-y: hidden;
    }


    .form {
        flex: 3;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 40px;



        form {
            display: flex;
            flex-direction: column;
            gap: 20px;
            min-width: 300px;

            input {
                padding: 10px 20px;

                font-size: 13px;
                font-weight: 600;

            }

            button {
                padding: 12px 15px;
                border: none;
                background-color: #20a790;
                cursor: pointer;
                color: black;

                &:hover {
                    background-color: #06c2a3;
                }
            }
        }

        p {
            text-align: center;

            .link {
                color: blue;
                text-decoration: underline;
                cursor: pointer;
                margin-left: 5px
            }
        }

        ;
    }

    .imageContainer {
        flex: 2;
        background-color: #fcf5f3;
        position: relative;

        img {
            width: 115%;
            position: absolute;
            right: 0;
        }

        @include sm {
            display: none;
        }
    }
}