@import '../../responsive.scss';

.home-container {
    display: flex;
    height: 100%;

}

.text-container {
    flex: 3;

    @include md {
        display: 1;
    }
}

.wrapper {
    padding-right: 90px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    height: 100%;

    @include md {
        padding: 0;
    }

    @include sm {
        justify-content: flex-start;
    }

    .title {
        font-size: 60px;
    }

    .description {
        font-size: 18px;
    }

    .boxes {
        display: flex;
        justify-content: space-between;

        @include sm {
            display: none;
        }

        h1 {
            font-size: 36px;

            @include sm {
                font-size: 20px;
            }

            @include lg {
                font-size: 32px;
            }
        }

        h2 {
            font-size: 20px;
            font-weight: 300;
        }
    }

}

.description {
    @include sm {
        font-size: 10px;
    }
}


.img-container {
    flex: 2;
    background-color: #fcf5f3;
    position: relative;
    display: flex;
    align-items: center;

    img {
        width: 115%;
        position: absolute;
        right: 0;
    }

    @include md {
        display: none;
    }

    @include sm {
        display: none;
    }

    @include lg {
        width: 105%;
    }
}